.body {
  text-align: center;
  color:blue;
  align-items: flex-start;
}
.header {
  background-color: blueviolet;
  margin: auto;
  padding: 10px; 

}
.products {
  background-color: aquamarine;
}

.footer {
  background-color: brown;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}